@page "/weather"
@attribute [StreamRendering]
@inject PersistentComponentState PersistentState
@rendermode InteractiveAuto
@implements IDisposable
@inject ILogger<Weather> Logger

<PageTitle>Weather</PageTitle>

<h1>Weather</h1>
<p>This component demonstrates showing persisted data.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @* same as before *@
}

@code {
    private WeatherForecast[]? forecasts; //private field
    private PersistingComponentStateSubscription? persistingSubscription;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(500);

        // Restore from prerendered state (client-side hydration) OR generate fresh data
        if (!PersistentState.TryTakeFromJson<WeatherForecast[]>(
                nameof(forecasts), out forecasts))
        {
            Logger.LogInformation("Generating new weather data");
            var startDate = DateOnly.FromDateTime(DateTime.Now);
            var summaries = new[] { "Freezing", "Bracing", "Chilly", "Cool", "Mild", "Warm", "Balmy", "Hot", "Sweltering", "Scorching" };

            forecasts = Enumerable.Range(1, 5).Select(index => new WeatherForecast
            {
                Date = startDate.AddDays(index),
                TemperatureC = Random.Shared.Next(-20, 55),
                Summary = summaries[Random.Shared.Next(summaries.Length)]
            }).ToArray();
           
        }
else
{
    Logger.LogInformation("Weather data restored");
}
        persistingSubscription = PersistentState.RegisterOnPersisting(PersistWeatherState);
    }

    private Task PersistWeatherState()
    {
        if (forecasts is not null)
        {
            PersistentState.PersistAsJson(nameof(forecasts), forecasts);
        }
        return Task.CompletedTask;
    }

    void IDisposable.Dispose()
    {
        persistingSubscription?.Dispose();
    }

    public class WeatherForecast
    {
        public DateOnly Date { get; set; }
        public int TemperatureC { get; set; }
        public string? Summary { get; set; }
        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }
}
